<a href="https://colab.research.google.com/github/amitmee/amitmee.github.io/blob/master/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
creditcard_data = pd.read_csv('/content/creditcard data.csv')

In [6]:
creditcard_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [7]:
creditcard_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
15931  27369 -1.160116 -0.244177  0.744250  ... -0.030845 -0.083609   52.90    0.0
15932  27369 -3.058318  3.099206 -4.932555  ...  0.171872 -0.236166   99.99    0.0
15933  27369 -0.661806  0.315385  2.011194  ...  0.068546  0.153438   74.58    0.0
15934  27370  1.525348 -1.231442  0.420095  ...  0.058942  0.011087    6.00    0.0
15935  27371  1.385680 -0.590076 -0.569197  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [8]:
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15936 entries, 0 to 15935
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    15936 non-null  int64
 1   V1      15936 non-null  float64
 2   V2      15936 non-null  float64
 3   V3      15936 non-null  float64
 4   V4      15936 non-null  float64
 5   V5      15936 non-null  float64
 6   V6      15936 non-null  float64
 7   V7      15936 non-null  float64
 8   V8      15936 non-null  float64
 9   V9      15936 non-null  float64
 10  V10     15936 non-null  float64
 11  V11     15936 non-null  float64
 12  V12     15936 non-null  float64
 13  V13     15936 non-null  float64
 14  V14     15936 non-null  float64
 15  V15     15936 non-null  float64
 16  V16     15936 non-null  float64
 17  V17     15936 non-null  float64
 18  V18     15936 non-null  float64
 19  V19     15936 non-null  float64
 20  V20     15936 non-null  float64
 21  V21     15936 non-null  float64
 22  V22     15936 non-null  float64
 23  V23     15935 non-null  float64
 24  V24     15935 non-null  float64
 25  V25     15935 non-null  float64
 26  V26     15935 non-null  float64
 27  V27     15935 non-null  float64
 28  V28     15935 non-null  float64
 29  Amount  15935 non-null  float64
 30  Class   15935 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.8 MB

In [9]:
creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
creditcard_data['Class'].value_counts()

0.0    15862
1.0       73
Name: Class, dtype: int64

In [13]:
legit = creditcard_data[creditcard_data.Class == 0]
fraud = creditcard_data[creditcard_data.Class == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(15862, 31)
(73, 31)

In [15]:
legit.Amount.describe()

count    15862.000000
mean        66.280151
std        188.898885
min          0.000000
25%          5.522500
50%         15.950000
75%         53.890000
max       7712.430000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count      73.000000
mean       90.307123
std       271.634360
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [17]:
creditcard_data.groupby('Class').mean()

               Time        V1       V2  ...       V27       V28     Amount
Class                                   ...
0.0    12104.432165 -0.219072  0.25000  ...  0.011206  0.005907  66.280151
1.0    15559.643836 -7.929807  6.19312  ...  0.927187  0.061380  90.307123

[2 rows x 30 columns]

In [18]:
legit_sample = legit.sample(n=492)

In [19]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [20]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
8013   10995 -0.517114  0.598993  1.976100  ... -0.000647  0.092693   14.95    0.0
1181     919 -0.222350  1.256333  0.972661  ...  0.149302  0.187365    4.91    0.0
901      679 -0.722726 -0.151059  1.923479  ...  0.132681  0.123159    0.05    0.0
14521  25718 -0.517651  1.198590  0.788938  ...  0.120768  0.220729    1.78    0.0
9266   13344 -0.592048  0.916113  1.608940  ...  0.009550  0.092938    0.89    0.0

[5 rows x 31 columns]

In [21]:
new_dataset.tail()

        Time         V1         V2  ...       V28  Amount  Class
15566  26961 -23.237920  13.487386  ...  0.438125   99.99    1.0
15736  27163 -23.914101  13.765942  ...  0.430315   99.99    1.0
15751  27187 -24.590245  14.044567  ...  0.422492   99.99    1.0
15781  27219 -25.266355  14.323254  ...  0.414656   99.99    1.0
15810  27252 -25.942434  14.601998  ...  0.406810   99.99    1.0

[5 rows x 31 columns]

In [22]:
new_dataset['Class'].value_counts()

0.0    492
1.0     73
Name: Class, dtype: int64

In [23]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    11606.947154 -0.119247  0.252928  ... -0.004063 -0.005829  61.164085
1.0    15559.643836 -7.929807  6.193120  ...  0.927187  0.061380  90.307123

[2 rows x 30 columns]

In [24]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [25]:
print(X)

        Time         V1         V2  ...       V27       V28  Amount
8013   10995  -0.517114   0.598993  ... -0.000647  0.092693   14.95
1181     919  -0.222350   1.256333  ...  0.149302  0.187365    4.91
901      679  -0.722726  -0.151059  ...  0.132681  0.123159    0.05
14521  25718  -0.517651   1.198590  ...  0.120768  0.220729    1.78
9266   13344  -0.592048   0.916113  ...  0.009550  0.092938    0.89
...      ...        ...        ...  ...       ...       ...     ...
15566  26961 -23.237920  13.487386  ...  1.481233  0.438125   99.99
15736  27163 -23.914101  13.765942  ...  1.458076  0.430315   99.99
15751  27187 -24.590245  14.044567  ...  1.434951  0.422492   99.99
15781  27219 -25.266355  14.323254  ...  1.411855  0.414656   99.99
15810  27252 -25.942434  14.601998  ...  1.388786  0.406810   99.99

[565 rows x 30 columns]

In [26]:
print(Y)

8013     0.0
1181     0.0
901      0.0
14521    0.0
9266     0.0
        ...
15566    1.0
15736    1.0
15751    1.0
15781    1.0
15810    1.0
Name: Class, Length: 565, dtype: float64

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(565, 30) (452, 30) (113, 30)

In [29]:
model = LogisticRegression()

In [30]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [32]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9845132743362832

In [33]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [34]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9823008849557522